body {
  font: Times ;
  font-size: 15px;
  width:75%;
}
p, h1, h3 {
  margin: 1px;
}
#container {
  border: 2px solid purple;
  display: flex;
}
#delicous {
  float:left;
}
#logoPic {
  float:left;
}
#sharing {
  border: dashed;
  justify-content: flex-end;
  /*float: right;*/
}
#title {
  display: flex;
}
#articleTitle {
  border: dashed;
}
#print {
  border: dashed;
  display: flex;
  height: 20px;
}
#mainPic {
  clear: left;
  width: 100%;
}
.ingredients{
  background-image: url('images/list-bg.png');
  display: flex;
}
.bio {
  border: dashed;
}
#headshot {
  float:left;
}
#shareRecipe {
  float:right;
}

.sectionBreak {
  border: dashed;
}

.paragraphs {
  border: dashed;


}

.ingredients {
  border: dashed;


}

.sectionBreak {
  border: dashed;


}
