body {
  font: Times ;
  font-size: 15px;

}

#delicous {
  text-align: left;
  font: ;
  font-size: ;
  font-style: italic;
  border: dashed;
  width: 100px;
  height: 100px;

}



#sharing {
  text-align: right;
  width: 200px;
  height:100px ;
  border: dashed;


}

.sectionBreak {
  border: dashed;


}

.paragraphs {
  border: dashed;


}

.ingredients {
  border: dashed;


}

.sectionBreak {
  border: dashed;


}
